---
import Button from "../components/Button.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="P치gina no encontrada | Chef Armando Rivera"
  description="No podemos encontrar la p치gina que buscas."
>
  <SectionContainer class="xl:w-[30%] mx-auto mt-6">
    <img src="/404.webp" width="400" class="mx-auto" />
    <div class="flex flex-col items-center text-center">
      <h1 class="mt-6 mb-4 text-2xl sm:text-3xl text-center font-bold">
        Algo se quem칩 en la cocina (춰es esta p치gina!) 游댠
      </h1>
      <p class="text-base mb-6">
        No hemos encontrado la p치gina. No te preocupes, regresa al inicio para
        conocer m치s sobre mi trayectoria.
      </p>
      <Button
        text="Regresar al inicio"
        link="/"
        blank={false}
        class="mx-auto"
      />
    </div>
  </SectionContainer></Layout
>
