---
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mi" description="">
  <SectionContainer class="lg:w-[60%] mx-auto">
    <h1 class="mt-3 mb-10 text-2xl sm:text-3xl text-center font-bold">
        Armando Rivera: Un Viaje Entre Sabores, Cine y Excelencia Culinaria
    </h1>
    <ExperienceTimeline />
  </SectionContainer>
</Layout>
