---
import Layout from "../layouts/Layout.astro";
import GaleryMansory from "../components/GaleryMansory.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Galería de Imágenes: Platos, Viajes y Proyectos del Chef Armando Rivera"
  description="Explora en la recopilación de platos, viajes gastronómicos, proyectos y los mejores momentos de mi carrera por el mundo."
>
  <SectionContainer>
    <h1 class="mt-3 mb-10 text-2xl sm:text-3xl text-center font-bold">
      Galería: Un viaje a través de fotos.
  </h1>
    <GaleryMansory />
  </SectionContainer>
</Layout>
