---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import '@fontsource-variable/chivo';

---

<Layout title="Chef Armando Rivera">
  <Header />
  <main></main>
</Layout>

<style is:global>
  :root {
    --white-primary: #fff;
    --black-primary: #101010;
    color-scheme: light dark;
  }

  html {
    
  }

  body {
    background-color: var(--white-primary);
    color: var(--black-primary);
	font-family: "Chivo Variable", sans-serif;	
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--black-primary);
      color: var(--white-primary);
    }
  }
</style>
