---
import PostList from "../components/PostList.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos" description="">
  <SectionContainer class="max-w-full">
    <h1 class="mt-6 mb-10 text-2xl sm:text-3xl text-center font-bold">
      Armando Rivera: Viajes, Personas y Experiencias
    </h1>
    <PostList />
  </SectionContainer>
</Layout>
