---
interface CardProps {
  img: string;
  country: string;
  date: string;
  title: string;
}

const { img, country, date, title } = Astro.props;
---

<article
  class="w-[100%] lg:w-[48%] 2xl:w-[30%] aspect-video bg-slate-500 bg-contain bg-no-repeat rounded-3xl"
  style={`background-image: url(${img})`}
>
  <div class="h-full flex flex-col justify-end p-6">
    <p><span>{country}</span><span>{date}</span></p>
    <h3>{title}</h3>
  </div>
</article>
