---
import { CARDS } from "../utils/Cards";
import Card from "./Card.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <h2 class="text-xl mb-4 font-bold">Proyectos</h2>
  <div class="flex flex-row flex-wrap gap-8 justify-between">
    {
      CARDS.map((card) => (
        <Card
          img={card.img}
          country={card.country}
          date={card.date}
          title={card.title}
        />
      ))
    }
  </div>
</SectionContainer>
