---
import Bottom from "../components/Button.astro";
import DocumentCV from "../icons/DocumentCV.astro";
---

<div class="mb-10 text-center">
  <p class="text-center mb-6">
    Soy Armando Rivera, un chef con más de 25 años de experiencia llevando mi
    pasión por la cocina a restaurantes del mundo. Desde los sabores
    tradicionales españoles hasta la gastronomía mediterránea y americana, mi
    trayectoria está marcada por el compromiso con la excelencia y la
    autenticidad.
  </p>
  <Bottom
    text="Ver CV y certificados"
    link="/documents/CV-Armando-Rivera.pdf"
    blank={true}
  />
</div>
