


    <footer class="w-full max-w-[90%] 2xl:max-w-[1440px] mx-auto p-4 md:py-8">
        <div class="flex flex-col md:flex-row gap-y-4 items-center justify-between ">
            <a href="/" class="font-oleo text-2xl lg:text-3xl flex flex-row items-center gap-2 text-center"
            ><img src="logo-chef-armando-rivera.webp" width="60" /> A R</a
          >
          <nav class="flex gap-10">
            <a>Sobre mi</a>
            <a>Proyectos</a>
            <a href="/galery">Galería</a>
          </nav>
        </div>
        <hr class="my-6 lg:my-8 dark:border-gray-700 " />
        <span class="block text-md text-center dark:text-gray-400">Echo con amor, tu hijo <a href="https://www.linkedin.com/in/carlos-andres-rivera-valle/" target="_blank" class="underline">Andrés</a> ❤️</span>
    </footer>


