<footer class="w-full  p-4 md:py-4 bg-white">
  <div class="max-w-[90%] mx-auto flex flex-col md:flex-row gap-y-4 items-center justify-center">
    <a
      href="/"
      class="font-oleo text-3xl flex flex-row items-center gap-2 text-center"
      ><img src="/logo-chef-armando-rivera.webp" width="60" /> A R</a
    >
  </div>
  <hr class="my-4" />
  <span class="block text-md text-center"
    >Hecho con amor, tu hijo <a
      href="https://www.linkedin.com/in/carlos-andres-rivera-valle/"
      target="_blank"
      class="underline">Andrés</a
    > ❤️</span
  >
</footer>
