<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4 h-max">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/wichita-austria-chef-armando-rivera-amigos.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/ensaladillas-huevo-atun-tomate.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/barco-mar-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/parador-el-viajero-con-teresa-chef-armando-rivera.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4 h-max">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/juego-de-tronos-chef-armando-3-platos-cocina.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/rodaje-aguila-roja-chef-armando-ensaladas-salsas.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/arroz-rosa-limon-bandeja.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/chef-armando-rivera-en-parrilla-wichita.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4  h-max">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/camello-amigos-marruecos-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/nueva-york-chef-armando-cocina-amigos.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/asador-pollo-cuy-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/amigos-almejas-juego-tronos-chef-armando-rivera.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4  h-max">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/atarceder-marruecos-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/ensaladilla-huevo-pepinillo-tomate-aceitunas.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/camion-rafael-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/puerto-nueva-york-chef-armando-rivera.webp"
        alt=""
      />
    </div>
  </div>
</div>
