<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/wichita-austria-chef-armando-rivera-amigos.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/ensaladillas-huevo-atun-tomate.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/juego-de-tronos-chef-armando-3-platos-cocina.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/rodaje-aguila-roja-chef-armando-ensaladas-salsas.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/ensaladillas-huevo-atun-tomate.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/ensaladilla-huevo-pepinillo-tomate-aceitunas.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/nueva-york-chef-armando-cocina-amigos.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/galery-mansory/atarceder-marruecos-chef-armando-rivera.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
        alt=""
      />
    </div>
  </div>
</div>

