---
import SunIcon from "../icons/sun.astro";
import '@fontsource/homemade-apple';
---

<header
  class="w-full max-w-[90%] 2xl:max-w-[1440px] mx-auto py-8 flex flex-col md:flex-row gap-y-6 items-center justify-between"
>
  <span class="font-homemade text-2xl lg:text-3xl text-center">A R</span>
  <nav class="flex gap-10">
    <a>Sobre mi</a>
    <a>Viajes</a>
    |
    <SunIcon />
  </nav>

</header>
