<header
  class="w-full max-w-[90%] 2xl:max-w-[1440px] mx-auto py-8 flex flex-col md:flex-row gap-y-2 lg:gap-y-6 items-center justify-between"
>
  <a href="/" class="font-oleo text-2xl lg:text-3xl text-center">A R</a>
  <nav class="flex gap-10">
    <a>Sobre mi</a>
    <a>Proyectos</a>
    <a href="/galery">Galería</a>
  </nav>
</header>
