---
import TextHero from "./TextHero.astro"
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <div class="flex flex-col mt-3 lg:flex-row justify-center items-center gap-10">
    <div class="text-center lg:text-left flex flex-col max-w-[800px]">
      <h1 class="text-4xl sm:text-6xl font-oleo mb-2">Chef Armando Rivera</h1>
      <TextHero title="+25" subtitle1="años de" subtitle2="experiencia" />

      <TextHero
        title="Viajero"
        subtitle1="con gran pasión"
        subtitle2="en la cocina"
      />

      <TextHero
        title="Conectando"
        subtitle1="culturas y"
        subtitle2="gastronomía global"
      />
    </div>
    <img
      id="hero-image"
      src="/slider-hero-chef-armando-rivera-1.webp"
      alt="Chef Armando Rivera"
      class="z-0 w-full sm:w-auto sm:h-[500px] transition-all ease-in-out duration-500 opacity-0"
    />
  </div>
</SectionContainer>

<style>
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #hero-image {
    animation: fadeInOut 5s ease-in-out infinite;
  }
</style>

<script>
  const images = [
    "/slider-hero-chef-armando-rivera-1.webp",
    "/slider-hero-chef-armando-rivera-2.webp",
    "/slider-hero-chef-armando-rivera-3.webp",
  ];

  const heroImage = document.getElementById("hero-image");
  if (heroImage instanceof HTMLImageElement) {
    let currentImageIndex = 0;

    setInterval(() => {
      currentImageIndex = (currentImageIndex + 1) % images.length;
      heroImage.src = images[currentImageIndex];
    }, 5000);
  } else {
    console.error("La imagen no se pudo cargar...");
  }
</script>
