---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <div class="flex flex-col lg:flex-row justify-center items-center gap-10">
    <img
      id="hero-image"
      src="/slider-hero-chef-armando-rivera-1.webp"
      alt="Chef Armando Rivera"
      class="z-0 w-full sm:w-auto sm:h-[500px] transition-all ease-in-out duration-500"
    />
    <div class="text-center lg:text-left flex flex-col max-w-[800px]">
      <h1 class="text-4xl sm:text-6xl font-oleo">Chef Armando Rivera</h1>
      <h2 class="text-base sm:text-xl mt-1 text-balance">
        25 años explorando culturas, fusionando tradiciones y llevando el
        Mediterráneo al corazón del mundo.
      </h2>
    </div>
  </div>
</SectionContainer>

<style>
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #hero-image {
    animation: slideIn 1s ease-in-out;
  }
</style>

<script>
  const heroImages = [
    "/slider-hero-chef-armando-rivera-1.webp",
    "/slider-hero-chef-armando-rivera-2.webp",
    "/slider-hero-chef-armando-rivera-3.webp",
  ];

  document.addEventListener("DOMContentLoaded", () => {
    const heroImage = document.getElementById("hero-image") as HTMLImageElement;
    let currentImagenIndex = 0;

    setInterval(() => {
      heroImage.style.animation = "none";
      void heroImage.offsetWidth;
      currentImagenIndex = (currentImagenIndex + 1) % heroImages.length;
      heroImage.src = heroImages[currentImagenIndex];
      setTimeout(() => {
        heroImage.style.animation = "slideIn 1s ease-in-out";
      }, 10);
    }, 5000);
  });
</script>
