---
import SectionContainer from "./SectionContainer.astro";
import Movie from "../icons/Movie.astro";
import World from "../icons/World.astro";
import Chef from "../icons/Chef.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import Button from "./Button.astro";

const CARD = [
  {
    icon: Chef,
    title: "Expeciencia & Certificados",
    description:
      "Su amplia experiencia en cocina internacional y películas de renombre, así como prestigiosos títulos y certificaciones, resaltan su capacidad para liderar equipos y mantener la excelencia en entornos desafiantes.",
    linkTitle: "Detalles sobre su carrera",
    linkURL: "/about",
  },
  {
    icon: Movie,
    title: "El chef del cine",
    description:
      "Encargado de las producciones cinematográficas más destacadas del mundo como <i>El Laberinto del Fauno</i>, <i>Knight and Day</i>, <i>Astérix y Obélix</i> y <i>body of lies</i>. Fusionar la tradición culinaria con la innovación ha sido clave en la satisfacción de las exigencias de elencos internacionales.",
    linkTitle: "Conocer más proyectos",
    linkURL: "",
  },
  {
    icon: World,
    title: "Cocinando para el Mundo",
    description:
      "Su espíritu viajero lo ha llevado a recorrer diferentes continentes, desde la gran manzana en EE. UU. hasta el corazón de Madrid. Desde los desiertos de Marruecos hasta los viñedos de Alemania, y en cada paso, ha dejado su huella gastronómica.",
    linkTitle: "Viaja con él a través de sus fotos ",
    linkURL: "/galery",
  },
];
---

<SectionContainer>
  <div class="flex flex-row flex-wrap justify-between gap-6 xl:gap-2">
    {
      CARD.map((card) => (
        <div class="relative flex flex-col w-full  md:w-[45%] xl:w-[400px] p-2 sm:p-6">
          <div class="flex items-center mb-4">
            <card.icon class="size-8 shrink-0" />
            <h3 class="ml-3  text-xl font-semibold" set:html={card.title} />
          </div>
          <p class="block leading-normal mb-6 font-light" set:html={card.description} />
          <Button text={card.linkTitle} color="primary" link={card.linkURL} blank="false"/>
          
        </div>
      ))
    }
  </div>
</SectionContainer>
