---
import SectionContainer from "./SectionContainer.astro";
import Movie from "../icons/Movie.astro";
import World from "../icons/World.astro";
import Chef from "../icons/Chef.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import Button from "./Button.astro";

const CARD = [
  {
    icon: Chef,
    title: "Expeciencia & Certificados",
    description:
      "Su amplia experiencia en cocina internacional (Mediterránea, Española y Americana), y sus prestigiosos títulos y certificaciones, resaltan su capacidad para liderar equipos y mantener la excelencia en entornos desafiantes.",
    linkTitle: "Detalles sobre su carrera",
    linkURL: "/about",
  },
  {
    icon: Movie,
    title: "El chef del cine",
    description:
      "Participando como cocinero en grandes producciones cinematográficas como: <i>Juego de tronos</i>, <i>El Laberinto del Fauno</i>, <i>Damsel</i>, <i>Knight and Day</i>, <i>Astérix y Obélix</i>, <i>body of lies</i> y muchas más.",
    linkTitle: "Conocer más proyectos",
    linkURL: "",
  },
  {
    icon: World,
    title: "Cocinando para el Mundo",
    description:
      "Su espíritu viajero lo ha llevado a recorrer diferentes países, desde la gran manzana en EE. UU. hasta el corazón de Madrid. Desde los desiertos de Marruecos hasta los viñedos de Alemania, y en cada paso, ha dejado su huella gastronómica.",
    linkTitle: "Viaja con él a través de sus fotos ",
    linkURL: "/galery",
  },
];
---

<SectionContainer>
  <div class="flex flex-row flex-wrap justify-between gap-6 xl:gap-2">
    {
      CARD.map((card) => (
        <div class="relative flex flex-col w-full  md:w-[45%] xl:w-[400px] p-2 sm:p-6">
          <div class="flex items-center mb-4">
            <card.icon class="size-8 shrink-0" />
            <h3 class="ml-3  text-xl font-semibold" set:html={card.title} />
          </div>
          <p
            class="block leading-normal mb-6 font-light"
            set:html={card.description}
          />
          <Button
            text={card.linkTitle}
            color="primary"
            link={card.linkURL}
            blank="false"
          />
        </div>
      ))
    }
  </div>
</SectionContainer>
