---
interface CardProps {
  img: string;
  country: string;
  date: string;
  title: string;
  link: string;
}

const { img, country, date, title, link } = Astro.props;
---

<article
  class="relative w-[100%] lg:w-[48%] 2xl:w-[30%] aspect-video bg-slate-500 bg-contain bg-no-repeat rounded-3xl"
  style={`background-image: url(${img})`}
>
  <footer class="absolute bottom-0 left-0 w-full bg-white opacity-80 p-4 rounded-b-3xl">
    <p class="flex flex-row gap-4 text-base">
      <span>{country}</span><span>{date}</span>
    </p>
    <h3 class="text-xl font-bold">{title}</h3>
  </footer>
</article>
