---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/chivo";
import "@fontsource/oleo-script-swash-caps";
import "@fontsource/homemade-apple";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --white-primary: #fff;
    --black-primary: #101010;
    --primary: #fc7a57;
    --secondary: #5e5b52;
    color-scheme: light dark;

  }

  :root {
  }

  html {
    background-color: var(--white-primary);
  }

  body {
    color: var(--black-primary);
    font-family: "Chivo Variable", sans-serif;
    font-weight: 300;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--black-primary);
      color: var(--white-primary);
    }
  }
</style>
