---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/chivo";
import "@fontsource/oleo-script-swash-caps";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logo-chef-armando-rivera-favicon.png"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://chef-armando-rivera.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chef Armando Rivera" />
    <meta
      property="og:description"
      content="Más de 25 años de experiencia fusionando la cocina internacional y descubriendo culturas gastronómicas. Un viajero con gran pasión en la cocina"
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/e5c63308-050c-4044-a983-bf3e272e0474.jpg?token=wvtTbDBWRZPWyLDN18CitHWjK9HvjXcWqHHSyBJ1Ycc&height=591&width=1200&expires=33274790531"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="chef-armando-rivera.vercel.app" />
    <meta
      property="twitter:url"
      content="https://chef-armando-rivera.vercel.app/"
    />
    <meta name="twitter:title" content="Chef Armando Rivera" />
    <meta
      name="twitter:description"
      content="Más de 25 años de experiencia fusionando la cocina internacional y descubriendo culturas gastronómicas. Un viajero con gran pasión en la cocina"
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/e5c63308-050c-4044-a983-bf3e272e0474.jpg?token=wvtTbDBWRZPWyLDN18CitHWjK9HvjXcWqHHSyBJ1Ycc&height=591&width=1200&expires=33274790531"
    />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --white-primary: #fff;
    --black-primary: #101010;
    --primary: #fc7a57;
    --secondary: #5e5b52;
  }

  html {
    background-color: var(--white-primary);
  }

  body {
    position: relative;
    font-family: "Chivo Variable", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/background-body.jpg");
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.35;
    z-index: -1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  p,
  span {
    text-wrap: pretty;
  }

  img {
    content-loading: auto;
  }
</style>
